<h1><%= @category.name %></h1>

<div>
    <%= @category.description.presence || "No description added." %>
</div>

<br>

<div>
    <%= link_to "Back", categories_path %>
    <%= link_to "Edit", edit_category_path(@category) %>
</div>

<br>

<%= button_to "Delete", @category, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
